/*
 * Globals
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

.sidebar {
  position: fixed;
  top: 100px;
  left: 100px;
}

.sidebar .wordmark-img {
  width: 150px;
}

.out-page-nav a {
  color: #000;
}

.in-page-nav a {
  color: #aaa;
}

.main-content-offset-row {
  height: 40px;
}

.row {
  margin-top: 50px;
}

.mobile-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(205, 41, 65);
}

#wordmark-img-white {
  height: 30px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  body {
    padding-top: 30px;
  }
}