/*
 * Globals
 * red:   #cc2532
 * green: #00cfbb
 * gray:  #bbbdc0
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
}

.sidebar {
  position: fixed;
  top: 100px;
  left: 100px;
}

.sidebar .wordmark-img {
  width: 150px;
}

.out-page-nav a {
  color: #000;
}

.in-page-nav a {
  color: #555;
  text-decoration: none;
}

.in-page-nav a:hover {
  color: #00cfbb;
}

/* Vertical offsets between rows
 *
 */
.main-content-offset-row {
  height: 140px;
}

#carl-info-row {
  margin-top: 20px;
}

#book-hero-row {
  margin-top: 50px;
}

.info-body-text {
  font-size: .85em;
}

.info-body-text a {
  color: #555;
  text-decoration: none;
}

.info-body-text a:hover {
  color: #00cfbb;
  text-decoration: none;
}

.mobile-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #cc2532;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.mobile-header a {
  position: fixed;
  top: 15px;
  right: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-header a:hover {
  color: #00cfbb;
}

#wordmark-img-white {
  height: 30px;
  vertical-align: middle;
}

/* Button Overrides */
.btn {
  border: 0;
  border-radius: 0;
  background-color: #bbbdc0;
  color: #fff;
}

.btn:hover {
  background-color: #00cfbb;
  color: #fff;
}

#book-hero-row a {
  color: #fff;
  text-decoration: none;
  background-color: #bbbdc0;
  padding: 10px 10px;
}

#book-hero-row li {
  margin-top: 20px;
}

#book-hero-row a:hover {
  background-color: #00cfbb;
}

.book-img-xs {
  width: 200px;
}

/* Get that glow 
 */
.signup-col input  {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #bbbdc0;
}
 
.signup-col input:focus {
  box-shadow: 0 0 3px #00cfbb;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #00cfbb;
}

.signup-col p {
  color: #cc2532;
}

.signup-col a {
  display: inline-block;
}

@media (max-width: 767px) {
  body {
    padding-top: 70px;
  }
}